# Microsoft-Graph-Credentials der App-Registrierung (Client-Credentials-Flow).
# Diese Datei nach ".env" kopieren und ausfuellen. Die .env wird NICHT eingecheckt.

GRAPH_TENANT_ID=00000000-0000-0000-0000-000000000000
GRAPH_CLIENT_ID=00000000-0000-0000-0000-000000000000
GRAPH_CLIENT_SECRET=dein-client-secret
